@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

/* basic font responsivity is set, but setting several sizes with media queries would be preferable */
.App {
  margin: 1vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2vh;
}

h1 {
  text-align: center;
  color: rgba(0, 147, 216, 0.84);
  font-size: 3vh;
}

h3 {
  color: rgba(0, 147, 216, 0.84);
  margin-bottom: 0.2vh;
  font-size: 2vh;
}

span, div {
  font-size: 2vh;
}
